*venv
*__pycache__
*.pcap
*.log
*tutorials
*dumps
*compiles
*uploads

*.vscode
/src/p4controller/logs
/src/p4controller/pcaps
/src/p4controller/uploads
/src/p4controller/compiles
/src/p4controller/dumps
